In [19]:
import pandas as pd

<h1> CLEAN THE DATA</h1>

In [20]:
# access google drive
from google.colab import drive
drive.mount('/gdrive')

Drive already mounted at /gdrive; to attempt to forcibly remount, call drive.mount("/gdrive", force_remount=True).

<h3>Load the California Current Employment Statistics (<i>CES</i>) data</h3>

In [21]:
# upload data using google drive path
path = "/gdrive/My Drive/colab_data/CalEmploymentStats/CalEmploymentStatistics_data.csv"
stats_df = pd.read_csv(path)
stats_df.head(20)

,Area Type,Area Name,Year,Month,Date,Series Code,Industry Title,Seasonally Adjusted,Current Employment
0,County,Mono County,2023,March,3/1/23,0,Total Nonfarm,N,8300
1,County,Mono County,2023,March,3/1/23,5000000,Total Private,N,6560
2,County,Mono County,2023,March,3/1/23,6000000,Goods Producing,N,510
3,County,Mono County,2023,March,3/1/23,42000000,Retail Trade,N,540
4,County,Mono County,2023,March,3/1/23,90920000,State Government,N,120
5,County,Nevada County,2023,March,3/1/23,90910000,Federal Government,N,310
6,County,Nevada County,2023,March,3/1/23,0,Total Nonfarm,N,33620
7,County,Nevada County,2023,March,3/1/23,5000000,Total Private,N,26910
8,County,Nevada County,2023,March,3/1/23,6000000,Goods Producing,N,4560
9,County,Plumas County,2023,March,3/1/23,90920000,State Government,N,80
10,County,Solano County,2023,March,3/1/23,90930000,Local Government,N,15700
11,County,Solano County,2023,March,3/1/23,90939022,City Government,N,2600
12,County,Sonoma County,2023,March,3/1/23,90930000,Local Government,N,22700
13,County,Sonoma County,2023,March,3/1/23,90939022,City Government,N,2600
14,County,Sonoma County,2023,March,3/1/23,90920000,State Government,N,2900
15,County,Tulare County,2023,March,3/1/23,41000000,Wholesale Trade,N,4300
16,State,California,2023,March,3/1/23,20237200,L& Subdivision,N,5400
17,County,Alpine County,2023,April,4/1/23,11000000,Total Farm,N,0
18,County,Del Norte County,2023,April,4/1/23,11000000,Total Farm,N,230
19,County,Fresno County,2023,April,4/1/23,90000000,Government,N,77500

<h3>Remove redundant columns</h3>

In [22]:
# delete/drop "Date" column
stats_df = stats_df.drop('Date', axis=1)
stats_df.head(20)

,Area Type,Area Name,Year,Month,Series Code,Industry Title,Seasonally Adjusted,Current Employment
0,County,Mono County,2023,March,0,Total Nonfarm,N,8300
1,County,Mono County,2023,March,5000000,Total Private,N,6560
2,County,Mono County,2023,March,6000000,Goods Producing,N,510
3,County,Mono County,2023,March,42000000,Retail Trade,N,540
4,County,Mono County,2023,March,90920000,State Government,N,120
5,County,Nevada County,2023,March,90910000,Federal Government,N,310
6,County,Nevada County,2023,March,0,Total Nonfarm,N,33620
7,County,Nevada County,2023,March,5000000,Total Private,N,26910
8,County,Nevada County,2023,March,6000000,Goods Producing,N,4560
9,County,Plumas County,2023,March,90920000,State Government,N,80
10,County,Solano County,2023,March,90930000,Local Government,N,15700
11,County,Solano County,2023,March,90939022,City Government,N,2600
12,County,Sonoma County,2023,March,90930000,Local Government,N,22700
13,County,Sonoma County,2023,March,90939022,City Government,N,2600
14,County,Sonoma County,2023,March,90920000,State Government,N,2900
15,County,Tulare County,2023,March,41000000,Wholesale Trade,N,4300
16,State,California,2023,March,20237200,L& Subdivision,N,5400
17,County,Alpine County,2023,April,11000000,Total Farm,N,0
18,County,Del Norte County,2023,April,11000000,Total Farm,N,230
19,County,Fresno County,2023,April,90000000,Government,N,77500

<h3>Loop through "Series Code" column, separate values, & create "Supersector Code" column/"Industry Code" column</h3>

In [23]:
# convert "Series Code" column datatype to string
stats_df['Series Code'] = stats_df['Series Code'].astype(str)

# create empty lists to use as columns
supersectorCode_list = []
industryCode_list = []

for code in stats_df['Series Code']:
  if len(code) < 8:
    # add enough 0's to complete 8-character series code
    while len(code) < 8:
      code = "0" + code
    # then split the series code and append to lists
    supersectorCode_list.append(code[:2])
    industryCode_list.append(code[2:])
  else:
    # split the series code by the 'supersector' code (first two digits)
    # and the 'industry' code (final six digits
    supersectorCode_list.append(code[:2])
    industryCode_list.append(code[2:])

In [24]:
# append lists as columns in dataframe
stats_df['Supersector Code'] = supersectorCode_list
stats_df['Industry Code'] = industryCode_list

In [25]:
# drop "Series Code" column
stats_df = stats_df.drop(["Series Code"], axis=1)
stats_df.head(20)

,Area Type,Area Name,Year,Month,Industry Title,Seasonally Adjusted,Current Employment,Supersector Code,Industry Code
0,County,Mono County,2023,March,Total Nonfarm,N,8300,00,000000
1,County,Mono County,2023,March,Total Private,N,6560,05,000000
2,County,Mono County,2023,March,Goods Producing,N,510,06,000000
3,County,Mono County,2023,March,Retail Trade,N,540,42,000000
4,County,Mono County,2023,March,State Government,N,120,90,920000
5,County,Nevada County,2023,March,Federal Government,N,310,90,910000
6,County,Nevada County,2023,March,Total Nonfarm,N,33620,00,000000
7,County,Nevada County,2023,March,Total Private,N,26910,05,000000
8,County,Nevada County,2023,March,Goods Producing,N,4560,06,000000
9,County,Plumas County,2023,March,State Government,N,80,90,920000
10,County,Solano County,2023,March,Local Government,N,15700,90,930000
11,County,Solano County,2023,March,City Government,N,2600,90,939022
12,County,Sonoma County,2023,March,Local Government,N,22700,90,930000
13,County,Sonoma County,2023,March,City Government,N,2600,90,939022
14,County,Sonoma County,2023,March,State Government,N,2900,90,920000
15,County,Tulare County,2023,March,Wholesale Trade,N,4300,41,000000
16,State,California,2023,March,L& Subdivision,N,5400,20,237200
17,County,Alpine County,2023,April,Total Farm,N,0,11,000000
18,County,Del Norte County,2023,April,Total Farm,N,230,11,000000
19,County,Fresno County,2023,April,Government,N,77500,90,000000

<h3>Clean string datatypes in "Area Name" column</h3>

In [26]:
# create row counter
row_counter = -1
# loop through "Area Name" column
for place in stats_df["Area Name"]:
  # increment row counter
  row_counter = row_counter + 1
  # if 'County' present in string, remove
  if 'County' in place:
    stats_df.at[row_counter, "Area Name"] = place[:-7]
  # if 'MSA' present in string, remove
  elif 'MSA' in place:
    stats_df.at[row_counter, "Area Name"] = place[:-4]
  # if 'MD' present in string, remove
  elif 'MD' in place:
    stats_df.at[row_counter, "Area Name"] = place[:-3]
  else:
    continue

In [27]:
stats_df.head(20)

,Area Type,Area Name,Year,Month,Industry Title,Seasonally Adjusted,Current Employment,Supersector Code,Industry Code
0,County,Mono,2023,March,Total Nonfarm,N,8300,00,000000
1,County,Mono,2023,March,Total Private,N,6560,05,000000
2,County,Mono,2023,March,Goods Producing,N,510,06,000000
3,County,Mono,2023,March,Retail Trade,N,540,42,000000
4,County,Mono,2023,March,State Government,N,120,90,920000
5,County,Nevada,2023,March,Federal Government,N,310,90,910000
6,County,Nevada,2023,March,Total Nonfarm,N,33620,00,000000
7,County,Nevada,2023,March,Total Private,N,26910,05,000000
8,County,Nevada,2023,March,Goods Producing,N,4560,06,000000
9,County,Plumas,2023,March,State Government,N,80,90,920000
10,County,Solano,2023,March,Local Government,N,15700,90,930000
11,County,Solano,2023,March,City Government,N,2600,90,939022
12,County,Sonoma,2023,March,Local Government,N,22700,90,930000
13,County,Sonoma,2023,March,City Government,N,2600,90,939022
14,County,Sonoma,2023,March,State Government,N,2900,90,920000
15,County,Tulare,2023,March,Wholesale Trade,N,4300,41,000000
16,State,California,2023,March,L& Subdivision,N,5400,20,237200
17,County,Alpine,2023,April,Total Farm,N,0,11,000000
18,County,Del Norte,2023,April,Total Farm,N,230,11,000000
19,County,Fresno,2023,April,Government,N,77500,90,000000

<h3>Change column names to make them SQL database compliant - <i>i.e. no spaces</i></h3>

In [28]:
# rename columns using Pandas .columns method
stats_df.columns = ['area_type',
                    'area_name',
                    'year',
                    'month',
                    'industry_title',
                    'seasonally_adjusted',
                    'current_employment',
                    'supersector_code',
                    'industry_code']

In [29]:
stats_df.head(20)

,area_type,area_name,year,month,industry_title,seasonally_adjusted,current_employment,supersector_code,industry_code
0,County,Mono,2023,March,Total Nonfarm,N,8300,00,000000
1,County,Mono,2023,March,Total Private,N,6560,05,000000
2,County,Mono,2023,March,Goods Producing,N,510,06,000000
3,County,Mono,2023,March,Retail Trade,N,540,42,000000
4,County,Mono,2023,March,State Government,N,120,90,920000
5,County,Nevada,2023,March,Federal Government,N,310,90,910000
6,County,Nevada,2023,March,Total Nonfarm,N,33620,00,000000
7,County,Nevada,2023,March,Total Private,N,26910,05,000000
8,County,Nevada,2023,March,Goods Producing,N,4560,06,000000
9,County,Plumas,2023,March,State Government,N,80,90,920000
10,County,Solano,2023,March,Local Government,N,15700,90,930000
11,County,Solano,2023,March,City Government,N,2600,90,939022
12,County,Sonoma,2023,March,Local Government,N,22700,90,930000
13,County,Sonoma,2023,March,City Government,N,2600,90,939022
14,County,Sonoma,2023,March,State Government,N,2900,90,920000
15,County,Tulare,2023,March,Wholesale Trade,N,4300,41,000000
16,State,California,2023,March,L& Subdivision,N,5400,20,237200
17,County,Alpine,2023,April,Total Farm,N,0,11,000000
18,County,Del Norte,2023,April,Total Farm,N,230,11,000000
19,County,Fresno,2023,April,Government,N,77500,90,000000

<h3>Check for inaccurate data or repeated rows</h3>

<h1>NORMALIZE THE DATA</h1>

<h3>Create first normal form (1NF)</h3>

In [30]:
# add a primary key to completely convert the database to 1NF
stats_df = stats_df.reset_index(drop=False)
stats_df.rename(columns={'index' : 'primary_key'}, inplace=True)

In [31]:
stats_df.head(20)

,primary_key,area_type,area_name,year,month,industry_title,seasonally_adjusted,current_employment,supersector_code,industry_code
0,0,County,Mono,2023,March,Total Nonfarm,N,8300,00,000000
1,1,County,Mono,2023,March,Total Private,N,6560,05,000000
2,2,County,Mono,2023,March,Goods Producing,N,510,06,000000
3,3,County,Mono,2023,March,Retail Trade,N,540,42,000000
4,4,County,Mono,2023,March,State Government,N,120,90,920000
5,5,County,Nevada,2023,March,Federal Government,N,310,90,910000
6,6,County,Nevada,2023,March,Total Nonfarm,N,33620,00,000000
7,7,County,Nevada,2023,March,Total Private,N,26910,05,000000
8,8,County,Nevada,2023,March,Goods Producing,N,4560,06,000000
9,9,County,Plumas,2023,March,State Government,N,80,90,920000
10,10,County,Solano,2023,March,Local Government,N,15700,90,930000
11,11,County,Solano,2023,March,City Government,N,2600,90,939022
12,12,County,Sonoma,2023,March,Local Government,N,22700,90,930000
13,13,County,Sonoma,2023,March,City Government,N,2600,90,939022
14,14,County,Sonoma,2023,March,State Government,N,2900,90,920000
15,15,County,Tulare,2023,March,Wholesale Trade,N,4300,41,000000
16,16,State,California,2023,March,L& Subdivision,N,5400,20,237200
17,17,County,Alpine,2023,April,Total Farm,N,0,11,000000
18,18,County,Del Norte,2023,April,Total Farm,N,230,11,000000
19,19,County,Fresno,2023,April,Government,N,77500,90,000000

<h3>Create second normal form (2NF)</h3>

In [32]:
# create a separate dataframe just for CES Industry Codes present in database

# create empty lists to fill with unique values
uniqueIndustry_list = []
uniqueSupersectorCode_list = []
uniqueIndustryCode_list = []

# create row counter
row_counter = -1

# iterate through database to get unique values for indsutry
for i in stats_df.itertuples():
  industry = i[6]
  supersector_code = i[9]
  industry_code = i[10]

  # append unqiue values to lists
  if industry not in uniqueIndustry_list:
    uniqueIndustry_list.append(industry)
    uniqueSupersectorCode_list.append(supersector_code)
    uniqueIndustryCode_list.append(industry_code)

In [33]:
# create Pandas dataframe using list data
table_data = {'supersector_code': uniqueSupersectorCode_list, 'industry_code': uniqueIndustryCode_list, 'industry_name': uniqueIndustry_list}
CESIndustryCode_df = pd.DataFrame(data=table_data)

In [34]:
CESIndustryCode_df.head(10)

  supersector_code industry_code       industry_name
0               00        000000       Total Nonfarm
1               05        000000       Total Private
2               06        000000     Goods Producing
3               42        000000        Retail Trade
4               90        920000    State Government
5               90        910000  Federal Government
6               90        930000    Local Government
7               90        939022     City Government
8               41        000000     Wholesale Trade
9               20        237200      L& Subdivision

In [35]:
# drop redunant columns from original database
stats_df = stats_df.drop(['industry_title'], axis=1)

# reorder columns in database
stats_df = stats_df[['primary_key',
                     'area_name',
                     'area_type',
                     'year',
                     'month',
                     'supersector_code',
                     'industry_code',
                     'current_employment',
                     'seasonally_adjusted']]

stats_df.head(20)

,primary_key,area_name,area_type,year,month,supersector_code,industry_code,current_employment,seasonally_adjusted
0,0,Mono,County,2023,March,00,000000,8300,N
1,1,Mono,County,2023,March,05,000000,6560,N
2,2,Mono,County,2023,March,06,000000,510,N
3,3,Mono,County,2023,March,42,000000,540,N
4,4,Mono,County,2023,March,90,920000,120,N
5,5,Nevada,County,2023,March,90,910000,310,N
6,6,Nevada,County,2023,March,00,000000,33620,N
7,7,Nevada,County,2023,March,05,000000,26910,N
8,8,Nevada,County,2023,March,06,000000,4560,N
9,9,Plumas,County,2023,March,90,920000,80,N
10,10,Solano,County,2023,March,90,930000,15700,N
11,11,Solano,County,2023,March,90,939022,2600,N
12,12,Sonoma,County,2023,March,90,930000,22700,N
13,13,Sonoma,County,2023,March,90,939022,2600,N
14,14,Sonoma,County,2023,March,90,920000,2900,N
15,15,Tulare,County,2023,March,41,000000,4300,N
16,16,California,State,2023,March,20,237200,5400,N
17,17,Alpine,County,2023,April,11,000000,0,N
18,18,Del Norte,County,2023,April,11,000000,230,N
19,19,Fresno,County,2023,April,90,000000,77500,N